@import "../../css/variables";

.row {
  width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 20rem;
  height: 70rem;
  text-align: center;

  &__heading {
    display: inline-block;
    color: $color-grey-dark-2;
    margin-bottom: 8rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 3px;
    transition: all .2s;

    &:hover {
      letter-spacing: 1rem;
      transform: scale(1.2);
    }
  }
}

.card2 {
  width: 30%;
  position: relative;
  height: 52rem;
  perspective: 200rem;
  border-radius: 3px;

  &__side {
    position: absolute;
    height: 52rem;
    transition: all .8s;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, .25);

    &-front {
      transform: rotateY(0);
    }

    &-back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
      }
      
      &--2 {
        background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
      }

      &--3 {
        background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
      }

    }
  }

  &:hover &__side-front {
    transform: rotateY(-180deg);
  }

  &:hover &__side-back {
    transform: rotateY(0);
  }

  &__picture {
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    &-1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 1), rgba($color-secondary-dark, 1)),  url("/nat-5.jpg");
    }

    &-2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1)),  url("/nat-6.jpg");
    }

    &-3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 1), rgba($color-tertiary-dark, 1)), url("/nat-7.jpg");
    }
  }

  &__details {
    ul {
      list-style: none;
      text-align: center;
      margin: 0 8rem;

      li {
        color: $color-grey-dark-2;
        padding: 1.5rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-1;
        }
      }
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 75%;

  }

  &__heading-span {
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom,
              rgba($color-secondary-light, .85),
              rgba($color-secondary-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom,
              rgba($color-primary-light, .85),
              rgba($color-primary-dark, .85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom,
              rgba($color-tertiary-light, .85),
              rgba($color-tertiary-dark, .85));
    }
  }

}