@import "../../css/variables";

.navigation {

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__button {
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    height: 7rem;
    width: 7rem;
    border-radius: 100px;
    background-color: $color-white;
    z-index: 2000;
    text-align: center;
  }

  &__background {
    position: fixed;
    top: 7rem;
    right: 7rem;
    height: 6rem;
    width: 6rem;
    background-color: green;
    z-index: 1000;
    border-radius: 100px;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    transition: all .8s;
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all .8s;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 2rem 4rem;
    color: $color-white;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 220%;
    transition: all .5s ease;

    &:hover {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(1rem);
    }

    &:not(last-child) {
      margin-bottom: 1rem;
    }
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      left: 0;
      content: "";
      position: absolute;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: +.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

}